<footer class="section-p1">
  <div class="col">
    <img class="logo" src="/img/home/logo-brown-nobg.png" height="70" width="90">
    <h4>Contact</h4>
    <p><strong>Adress:</strong></p>
    <p><strong>Phone:</strong> (+91) 0000000000 </p>
    <p><strong>Hours:</strong>09:00 - 18:00, All days of the week</p>
    <div class="follow">
      <h4>Follow Us</h4>
      <div class="icon">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>
  <div class="col">
    <h4>About</h4>
    <a href="about.html">About us</a>
    <a href="#">Delivery Information</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Feedback</a>
    <a href="about.html">Contact Us</a>
  </div>
  <div class="col">
    <h4>My Account</h4>
    <a href="/sign-up">Sign In</a>
    <a href="#">My Wishlist</a>
    <!--<a href="#">Track My Donation</a>-->
    <a href="#">Help</a>
  </div>
  <div class="copyright">
    <p>© 2024, Hands Of Hope</p>
  </div>
</footer>