<section id="header">
  <a href="/"><img src="/img/home/logo-brown-nobg.png" height=80 width=115 ></a>
  <div>
   <ul id="navbar">
     <li><a class="active" href="/">Home</a></li>
     <li><a href="/projects">Their Projects</a></li>
     <li><a href="/getinvolved">Get Involved</a></li>
     <li><a href="/ourworks">Our Works</a></li>
     <li><a href="/aboutus">About Us</a></li>
   </ul>
 </div>
</section>


