<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>About Us</title>
  <link href="/about.css" rel="stylesheet" type="text/css" />
  <link href="/hf.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
  <body>
    <section id="header">
      <a href="/"><img src="img/home/logo-brown-nobg.png" height=80 width=115 ></a>
      <div>
       <ul id="navbar">
         <li><a  href="/">Home</a></li>
         <li><a href="/projects">Their Projects</a></li>
         <li><a href="/getinvolved">Get Involved</a></li>
         <li><a href="/ourworks">Our Works</a></li>
         <li><a class="active" href="/aboutus">About Us</a></li>
       </ul>
     </div>
    </section>
    
    <img src="img/about/team.gif" class="story_head">
  <div class="container">
    <div class="gallery">
      <div id="img-box" class="animate_animated animate_slideInLeft "><h3>Adikar Charvi Sree Teja<br>1BM22CS012</h3></div>
      <div id="img-box" class="animate_animated animate_slideInLeft "><h3>Adithya Pillai<br>1BM22CS013</h3></div>
      <div id="img-box" class="animate_animated animate_slideInRight "><h3>Aditi C<br>1BM22CS014</h3></div>
      <div id="img-box" class="animate_animated animate_slideInRight "><h3>Akash K S<br>1BM22CS028</h3></div>
    </div>
  </div>
  <br>
<img src="img/about/head.gif" class="story_head">
  <section class="story1">
    <div class="storydiv">
      <p>"I vividly recall stumbling upon a group of elderly individuals and differently abled people displaying their handcrafted products. Inspired by their resilience and the stories they shared, like Maria's, I knew I had to be part of this NGO. It wasn't just about supporting a cause; it was about joining a community dedicated to amplifying the voices and talents of those often marginalized by society. From that moment on, I committed myself to championing their cause and fostering a more inclusive world for all."<br>
        <img src="img/about/StarEye.gif">
      <p style="text-align: right;">- Aditi :)</p>
    </p>
    </div>
    <div class="storydiv">
      <p>
        "As I watched my grandmother's hands delicately weave together threads to create beautiful handicrafts, I couldn't help but marvel at her skill and dedication. Her eyes sparkled with pride as she shared stories of her youth and the joy that creating brought her. Inspired by her spirit and the realization of how many like her yearn for purpose, I knew I had to do something. Joining this NGO became my way of honoring her legacy and ensuring that every elderly person and differently abled individual finds fulfillment and support in their golden years."<br>
        <img src="img/about/heart.gif" style="width: 60px;">
        <p style="text-align: right;">- Charvi :)</p>
      </p>
    </div>
  </section>
  <section class="story2">
    <div class="storydiv">
      <p>"My friend Sara, a spirited individual with a knack for creativity, despite being visually impaired. Her passion for artistry and her struggle to find platforms to showcase her talent deeply resonated with me. Inspired by her resilience and the desire to create a more inclusive society, I decided to join this NGO. It's not just about empowering Sara but also about advocating for countless others like her, ensuring they have the support and opportunities they deserve to shine bright and contribute meaningfully to the world."<br>
        <img src="img/about/crown.gif">
      <p style="text-align: right;">- Adithya :)</p>
    </p>
    </div>
    <div class="storydiv">
      <p>
        "Once I found myself seated on a weathered bench beside an elderly woman named Maria. Her eyes, filled with wisdom and warmth, reflected a lifetime of stories. As she shared her journey, from vibrant youth to the challenges of aging, I realized the value of embracing and supporting our elders. It was then, that I knew I had found my purpose. Joining this NGO was not just a decision; it was a heartfelt commitment to honor the wisdom of the past and ensure dignity and care for the elderly and differently-abled in our community"<br>
        <img src="img/about/star.gif">
        <p style="text-align: right;">- Akash :)</p>
        </div>
      </p>
    </div>
  </section>
  <img src="img/about/support.gif" class="story_head">
  <section class="owl" > 
    <div class="owl-carousel owl-theme" style="width: 50%; margin-left:25%;">
      <div class="item" style="padding-right: 70px;">
        <img class="circle" src="img/about/varsha.jpg" style="width:50%; height: 50%; float:left; padding: 20px; border-radius: 30px;">
        <p class="right">"I'll cherish the memories made and lessons learned during my time volunteering; Hands Of Hope is doing incredible work, and I'm proud to be a part of it."<br><br>-Varsha:)</p>
      </div>
      <div class="item" style="padding-right: 70px;">
        <img class="circle" src="img/about/Mahika.jpg" style="width:50%; height: 50%; float:left; padding: 20px; border-radius: 30px;">
        <p class="right">"Volunteering at Hands Of Hope was eye-opening; seeing the joy on the faces of the elderly and differently abled folks we helped truly warmed my heart."<br><br>-Mahika:)</p>
      </div>
      <div class="item" style="padding-right: 70px;">
        <img class="circle" src="img/about/aish.jpg" style="width:50%; height: 50%; float:left; padding: 20px; border-radius: 30px;">
        <p class="right">"I'll never forget the smiles and laughter shared during my time volunteering; it's clear Hands of Hope brings so much joy to those it serves."<br><br>-Aish:)
        </p>
      </div>
      <div class="item" style="padding-right: 70px;">
        <img class="circle" src="img/about/singh.jpg" style="width:50%; height: 50%; float:left; padding: 20px; border-radius: 30px;">
        <p class="right">"Volunteering at the NGO has been a heartwarming experience, knowing that I'm making a meaningful difference in the lives of elderly and disabled individuals."<br><br>-Aditya:)</p>
      </div>
      <div class="item" style="padding-right: 70px;">
        <img class="circle" src="img/about/hamsika.jpg" style="width:50%; height: 50%; float:left; padding: 20px; border-radius: 30px;">
        <p class="right">"Being part of this NGO has given me a sense of purpose, knowing that I'm contributing to the well-being and dignity of vulnerable populations."<br><br>-Hamsika:)</p>
      </div>
      <div class="item" style="padding-right: 70px;">
        <img class="circle" src="img/about/ammu.jpg" style="width:50%; height: 50%; float:left; padding: 20px; border-radius: 30px;">
        <p class="right">"Volunteering at the NGO has reaffirmed my belief in the power of community and the importance of lending a helping hand to those in need."<br><br>-Amrutha:)</p>
      </div>
  </div>
   </section>


   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
      <script type="text/javascript">
            $('.owl-carousel:first').owlCarousel({
  loop: true,
  margin: 10,
  nav: false,
  dots: true,
  autoplay: true,
  autoplayTimeout: 2000,
  autoplayHoverPause: true,
  responsive: {
    0: {
      items: 1
    },
    600: {
      items: 1
    },
    1000: {
      items: 1
    }
  }
});

      </script>

      <!--Newsletter-->
      <%- include("./partials/newsletter.ejs") %>

        <!--Footter-->
        <%- include("./partials/footer.ejs") %>

        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script type="module" src="script.js"></script>
  </body>

</html>