<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Get Involved</title>
  <link href="/getinv.css" rel="stylesheet" type="text/css" />"
  <link href="/hf.css" rel="stylesheet" type="text/css" />


</head>


<body>
  <section id="header">
    <a href="#"><img src="img/home/logo-brown-nobg.png" height=80 width=115 ></a>
   <div>
     <ul id="navbar">
       <li><a href="/">Home</a></li>
       <li><a href="/projects">Their Projects</a></li>
       <li><a class="active" href="/getinvolved">Get Involved</a></li>
       <li><a href="/ourworks">Our Works</a></li>
       <li><a href="/aboutus">About Us</a></li>
       <li><a href="/sign-up"><button style="background-color: #e2a7a7; 
        text-decoration: none; 
        border-radius: 6px; 
        border: none; 
        padding: 5px 22px; padding-top: 2px;
        font-size: 14px; 
        font-weight: bold;
        cursor: pointer;">Donate Now!</button></a></li>
     </ul>
   </div>
  </section>
  <section id="page-header" class="animate__animated animate__fadeIn">
    <h2 style="color:black; padding-top: 60px;">GET INVOLVED</h2>
     <!--<p>Building a brighter future with every charitable endeavor.</p>-->
   </section>  
 <section style="padding: 30px;">
   <div style="text-align: center;padding-bottom: 15px;"><h1>WAYS TO CONTRIBUTE</h1></div>
   <div style="display: flex; justify-content: center; align-items: center; padding-bottom: 40px;">
     <div style="padding:20px;">
   <div class="image1">
     <img class="image1__img" src="img/involved/indi.png">
     <div class="image1__overlay">
         <div class="image1__title" style="font-size: 20px;">Individual Contribution</div>
       <p class="image1__description"><a href="#section1"><button class="normal">Contribute</button></a></p>
     </div>
   </div>
   </div>
   <div style="padding:20px;">
     <div class="image1">
     <img class="image1__img" src="img/involved/cor.png">
     <div class="image1__overlay">
       <div class="image1__title">Corporate Contribution</div>
       <p class="image1__description"><a href="#section2"><button class="normal">Contribute</button></a></p>
     </div>
     </div>
   </div>
   <div style="padding:20px;">
       <div class="image1" >
       <img class="image1__img" src="img/involved/inst.png">
       <div class="image1__overlay">
         <div class="image1__title">Insistitutional Contribution</div>
         <p class="image1__description"><a href="#section3"><button class="normal">Contribute</button></a></p>
       </div>
       </div>
   </div>
   </div>
 </section> 
       <section id="section1"> 
         <h1 style="text-align: center;padding-top: 10%;padding-bottom: 0;">INDIVIDUAL CONTRIBUTION</h1>
        <div class="sec1">
         <h2 class="fadein"> “Education is the most powerful weapon 
             which you can use to change the world."<br> -Nelson Mandela </h2>
         <p style="padding-top: 0%;"  class="afttext">Welcome to Hands Of Hope, where your contribution transforms lives. By supporting our mission to empower disabled and elderly individuals, you become a catalyst for positive change. Your donation provides essential resources, from medical care to emotional support, fostering independence and dignity. Together, we're building a more compassionate world where every person, regardless of age or ability, can thrive. Join us in making a difference and be a part of shaping a brighter future for all.</p>
        </div>       
         <div align="center" class="animate__animated animate__zoomUp">
            <div> 
                
                 <div class="container">
                     <img src="img/involved/volunteer.png" alt="Avatar" style="padding-right: 1%; height: 110%;" class="image">
                     <div class="overlay overlayFade">
                         <div class="text"><h3 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;">Volunteer</h3><br>
                         
                          <h4 style="color: black;  
                             text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;">Volunteers, the heart of any NGO, selflessly drive positive change with passion and commitment, forming a powerful force for social impact.
                             <button class="normal" onclick="window.location.href='/volunteering'">Volunteer</button>
                          </h4>
                        </div>
                     </div>
                   
                 </div>

              <div class="container">
                   <img style="padding-right: 1%; height: 110%;" src="img/involved/donate.png" alt="Avatar" class="image">
                   <div class="overlay overlayFade">
                       <div class="text">
                         <h3 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;;padding-bottom: 4%;">High Value Contribution</h3><br><br><br>
                         <h4 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;">We highly appreciate environmentally conscious High Net-Worth Individuals committed to societal giving, leveraging their wealth and fortunes for positive impact.</h4>
                       </div> 
                   </div>
               </div> 
                 <div class="container">
                     <img style="padding-right: 1%; height: 110%;" src="img/involved/camp.png" alt="Avatar" class="image">
                     <div class="overlay overlayFade">
                         <div class="text">
                           <h3 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;">Campaigns</h3><br>
                           <h4 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;">Through the years, CARE India has championed campaigns for disabled and elderly empowerment, covering disability rights, aging, and disaster rehabilitation.</h4>
                         </div>
                     </div> 
                 </div> 
              <div class="container">
                   <img style="padding-right: 1%; height: 110%;" src="img/involved/donate_cloth.png" alt="Avatar" class="image">
                   <div class="overlay overlayFade">
                       <div class="text"><h3 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;">Donate</h3><br>
                       <h4 style="color: black;text-align:left;width:150%;height:150%;padding-left: 0;">Empower disabled and elderly individuals swiftly through donations that can help clothe someone who lacks proper attire or bring joy to a child who may not have access to toys otherwise.</h4></div>
                   </div>
            
               </div> 
                 <div class="container">
                     <img style="padding-right: 1%; height: 110%;" src="img/involved/intern.png" alt="Avatar" class="image" >
                     <div class="overlay overlayFade">
                         <div class="text"> 
                           <h3 style="color: black; 
                             text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;padding-top: 13%;">Internship</h3><br><br> 
                           <h4 style="color: black;  
                             text-align:left;width:150%;height:150%;padding-left: 0;padding-left: 0;">Discover the development sector with us through short-term internships, where we welcome fresh, enthusiastic minds to join our dedicated team.
                             <button class="normal" onclick="window.location.href='/internship'">Sign-Up</button></h4>
                         </div>
                     </div>
                  </div>
            </div>
         
            </section>
     <!--</section>-->
     <section id="section2">
       <h1 style="text-align: center;padding-top: 9%;padding-left: 1%;">CORPORATE CONTRIBUTION</h1>
        <div class="sec1">
         <p style="padding-left:5%;padding-right:1%; width: 130%" class="afttext">Hands Of Hope recognises that the complex issues faced by modern India can only be resolved when the state, the civil society, individuals and corporates join hands, and work with each other. A wide lens approach that accommodates many more partners has become indispensable to avoid failures and multiply the odds of success. The calls to leverage the efforts and capabilities of all stakeholders to step up the impact of poverty reduction and social inclusion programmes are growing louder, and CARE India is working to achieve this goal, through collaborations.
          
         </p> 
          <h2 class="fadein">"Give your hands to serve and your hearts to love." <br><br>– Mother Teresa </h2>

        </div> 

        <div class="maincontainer">
 <div style="display: flex;">
         <div class="thumbnail right" style="flex-basis:40%;height:500px;padding-top: 180px;">
             <img src="img/involved/old_man.png">
         </div>
         <div style="flex-basis:100%;"><h2 style="padding-bottom: 0;padding-top:5px;">Brand Building</h2>
                 <p style="padding-top: 0px;"><b>Cause Related Marketing (CRM)</b>
                   When you integrate your marketing efforts with a cause, you not only help create social impact but also build incredible goodwill for your brand. Partnering with HandsOfHope for a cause-related marketing campaign will help you drive purchase behaviour and meet your business objectives – all the while contributing to a really good cause!<br>
         <b>Event Sponsorships & Participation
         </b>HandsOfHope organizes several events (marathons, cyclothons, walkathons and soccer tournaments etc.) across the year to raise awareness for the elderly and disabled’s rights. You can come on board as one of the event sponsors to support the cause and get visibility for your brand or pledge a fixed amount to include a set number of your employees as participants.. 
                   <br><b>Donation Boxes  
                   </b>You can enable HandsOfHope to place physical/digital donation boxes at your office premises or retail outlets to help your employees/customers contribute to the cause. These will be co-branded and thus reflect your association with the cause for the elderly and disabled’s rights.</p></div>
        </div>
          <div style="display: flex;">

            <div style="flex-basis:100%;"><h2 style="padding-bottom: 0;">Corporate Social Responsibility</h2>
                    <p><b>Adopt A Project</b>
                        HandsOfHope works with 72 local projects across 5 states in the areas of education, health, nutrition, safety and protection as well as participation. You can adopt one or more of our projects that fit your CSR needs in terms of geographical location and area of intervention. HandsOfHope will be responsible for monitoring the program, providing programmatic direction and technical expertise to project staff and sending project impact reports periodically.<br>
            <b>Corporate Donations
            </b>You can make a lump sum donation towards a specific cause that your company would like to support. From education,malnutrition, to healthcare and gender inequality – you have a wide array of causes to choose from since HandsOfHope works on all areas of the elderly and disabled’s rights. Your donation would be directed towards HandsOfHope’s programs which address your preferred cause.</p></div>
            <div class="thumbnail right" style="flex-basis:40%;height:500px;padding-top: 90px;">
                 <img src="img/involved/handi.png">
             </div>
           </div>
        </div>
     </section>
     <br><br><br><br>
     <section id="section3">
       <h1 style="text-align: center; padding-top: 10%;">INSTITUTIONAL CONTRIBUTIONS</h1>
        <div class="sec1">
         <h2 class="fadein" style="padding: 10px;padding-left: 3%;padding-right: 3%;">"Institutions shape society; NGOs drive change."


 <br><br> - C. Everett Koop </h2>
         <p class="afttext" style="padding: 5vmin;padding-top: 0;">Institutional contributions are the bedrock of NGO resilience and impact. Whether through financial backing, strategic partnerships, or shared expertise, institutions amplify the reach and credibility of NGOs. These crucial contributions empower organizations to address societal challenges on a larger scale, implementing transformative projects and extending their influence. Beyond monetary support, institutions bring valuable resources and innovative solutions, fostering collaborative efforts for social progress. Collaborating with NGOs, institutions play a vital role in creating a more compassionate and equitable world. Their support acts as a force multiplier, facilitating broader outreach and sustainable change. In this collective endeavor, institutional contributions stand as key enablers for NGOs dedicated to building resilient communities and addressing pressing global issues.</p>

        </div> 
       <div>
        <img  src="img/involved/ngo1.jpg" style="padding-right: 5%;">
       <img src="img/involved/ngo2.jpg"></div>
       <p style="text-align: center;padding-left: 4%;padding-right: 5%;">Our NGO is dedicated to enhancing the lives of disabled and elderly individuals. Our impactful initiatives are made possible through valued partnerships with institutions that share our commitment to creating inclusive communities. Through financial support, strategic collaboration, and shared expertise, these institutions play a crucial role in amplifying our reach and effectiveness. Together, we are building a compassionate world where every individual, regardless of age or ability, can thrive. Join us in our mission, as we work hand in hand with institutional partners to make a lasting impact on the lives of those we serve.</p>
     </section>
   <br><br>

   <section>
     <div style="text-align: center; padding: 10px;padding-top:3%" class="partners"><h1 style="padding-bottom: 2%;">OUR PARTNERS</h1>
     <a href="https://nss.gov.in/" target="_blank"><img src="img/involved/nss-logo.png" style="padding: 10px;"></a>
     <a href="https://www.rotary.org/en/get-involved/rotaract-clubs" target="_blank"><img src="img/involved/rot.png" style="padding: 10px;"></a>
     <a href="https://www.smilefoundationindia.org/" target="_blank"><img src="img/involved/smile.webp" style="padding: 10px;"></a>
       <a href="https://www.bmsce.ac.in/" target="_blank"><img src="img/involved/bmslogo.jpg" style="padding: 10px;"></a>
       </div>
   </section>

              <div class="sec12">

                <h3 style="text-align: center;color: black;line-height: 1.5em;padding-top: 4%;">Complex, deep rooted issues need Strong Partnership – Corporates, Government and NGOs.<br>
                  Let us join hands to being positive change to marginalized communication.</h3>
                 <h3 style="text-align: center;color: black;line-height: 1.5em;">For More Information please write to us at <br><a href="xxx.com">hohngo@org.com</a></h3>
               </div>
               <%- include("./partials/newsletter.ejs") %>

               <!--Footter-->
               <%- include("./partials/footer.ejs") %>
               <script type="module" src="script.js"></script>
               <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>

</html>