<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Works</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/ourworks.css" type="text/css">
  <link rel="stylesheet" href="/hf.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   

</head>
<section id="header">
  <a href="/"><img src="img/home/logo-brown-nobg.png" height=80 width=115 ></a>
 <div>
   <ul id="navbar">
     <li><a href="/">Home</a></li>
     <li><a href="/projects">Their Projects</a></li>
     <li><a href="/getinvolved">Get Involved</a></li>
     <li><a class="active"  href="/ourworks">Our Works</a></li>
     <li><a href="/aboutus">About Us</a></li>
   </ul>
 </div>
</section>
<section id="page-header" class="animate__animated animate__fadeIn">
  <h2 style="padding-bottom: 13.5%;">OUR WORKS</h2>
  <!--<p>Building a brighter future with every charitable endeavor.</p>-->
</section>
   <br>
   <section class="owl" style="background-color: #ff">
    <div class="owl-carousel owl-theme">
      <div class="item" style="padding-right: 70px;">
        <img class="circle" src="/img/work/access.jpg" style="width:50%; height: 400px; float:left; padding: 20px;">
        <p class="right">
          <h3>Accessibility Programs</h3>
          Hands of Hope champions accessibility, urging for ramps, elevators to ascend,
          In urban realms, pushing inclusivity, a core principle we defend.
          Promoting universal design, we envision spaces welcoming to every soul,
          Identifying barriers, crafting solutions to make independence a universal goal.
          With stakeholders, we collaborate, our influence far and wide,
          Through education, awareness, we aim to shift the societal tide.
          Our goal: a world inclusive, where barriers cease to divide,
          Where every individual, regardless of ability, can with dignity stride.
          Hands of Hope leads, for a society where equality and access abide.
        </p>
      </div>
      <div class="item" style="padding-right: 70px;">
        <img class="circle" src="/img/work/healcare.jpg" style="width:50%; height: 400px; float:left; padding: 20px;">
        <p class="right">
          <h3>Healthcare Services</h3>
          We provide healthcare services finely tuned for the elderly and disabled,
          Regular check-ups, therapy, and support, meticulously assembled.
          Physical and mental health support, to each, we cater,
          With medical equipment like wheelchairs, for lives to alter.
          From hearing aids to walking aids, we supply what's required,
          Ensuring every individual's independence is inspired.

          Our care is bespoke, each need and preference considered,
          With a team of professionals, compassionately delivered.
          Striving to enhance well-being, our mission is bold,
          A commitment to healthcare access, inclusive and gold.
        </p> 
      </div>
      <div class="item" style="padding-right: 70px;">
        <img class="circle" src="/img/work/cmeng.png" style="width:50%; height: 400px; float:left; padding: 20px;">
        <p class="right">
          <h3>Community Engagement</h3>
          Our NGO is committed to enhancing the lives of the elderly and disabled through supportive programs that address their needs and foster community engagement. We offer accessible activities, skill workshops, home visits, and tech training to bridge the digital divide. Our goal is to alleviate loneliness, promote independence, and improve life quality, ensuring everyone feels valued and connected. By collaborating with partners and volunteers, we're building a compassionate community where every member has the chance to thrive. 
        </p>
        
      </div>
      <div class="item" style="padding-right: 70px;">
        <img class="circle" src="/img/work/legadv.jpg" style="width:50%; height: 400px; float:left; padding: 20px;">
        <p class="right" style="font-weight:bold;">
          <h3>Legal Advocacy</h3>
          We advocate tirelessly for the rights of the disabled and elderly,
          Providing legal assistance to those facing inequality directly.
          Fighting discrimination with fervor, in every form it takes,
          Lobbying for policy changes, for their rights and stakes.

          Our initiatives aim to secure equal access to education, a fundamental right,
          Ensuring employment opportunities are within sight.
          Housing, too, falls within our scope of care,
          Striving for accommodations that are just and fair.

          Through our efforts, we seek to elevate their quality of life,
          Championing a world where rights are protected, free from strife.
        </p>
      </div>
      
  </div>
   </section>
          
          
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script type="text/javascript">
            $('.owl-carousel:first').owlCarousel({
  loop:true,
  margin:10,
  nav:false,
  dots:true,
  autoplay:true,
  autoplayTimeout:2000,
  autoplayHoverPause:true,
  responsive:{
      0:{
          items:1
      },
      600:{
          items:1
      },
      1000:{
          items:1
      }
  }
})
      </script>
   </section>


    <!--Our works-->
    <section class="Ourworks" style="background-color:#fff; background-image: url('img/work/ba.png'); background-size:1600px; background-repeat: no-repeat; ">
      
       
      <h1 style="text-align: center; padding-top: 100px; font-family: 'E A Garamond'; font-weight: normal;">Our Works</h1>
      <p style="text-align: justify; padding: 0 40px;    line-height: 2.25em;font-weight:normal;color:black;">We take pride in highlighting the impactful initiatives undertaken by our NGO in support of disabled and elderly individuals. Through our unwavering commitment, we have striven to create an inclusive society that fosters empowerment and dignity for those facing physical and age-related challenges. From organizing accessibility programs and adaptive technology workshops for the disabled to providing companionship and healthcare support for the elderly, our efforts are dedicated to enhancing the quality of life for all. Each success story we share is a testament to the positive change we aim to instill, creating a more compassionate and accessible world for those who need it most.Join us in celebrating the milestones achieved through our collective dedication to making a meaningful difference in the lives of disabled and elderly individuals.</p>
      
<section style="background-color: #fff;padding-top: 20px;">
  <h2 style="text-align: center; font-family: 'E A Garamond'; font-weight: normal;">Our Activities</h2>
<div class="section-container" style="padding-top: 40px;">
  <div class="columns image" style="background-image: url('img/work/techws.png');">
      &nbsp;
  </div>

  <div class="columns content">
      <div class="content-container" style="background-color: #e7ccc4;">
          <h5>The Tech Empowerment Project</h5>
          <p>
              
              Understanding the digital divide's impact on the elderly and disabled, the NGO initiated the Tech Empowerment Project. This program aimed to equip these individuals with digital skills and tools to navigate the online world, enhancing their independence and connectivity.
              
              Volunteers provided one-on-one training sessions on using smartphones, computers, and assistive technologies. The project also distributed devices to those in need, ensuring they had the necessary tools to stay connected with their loved ones and access online services. Through this initiative, participants reported feeling more empowered and less isolated, highlighting the transformative power of technology in their lives.            </p>
          
      </div>
  </div>
  
</div>


<div class="section-container">
 

  <div class="columns content">
      <div class="content-container">
          <h5>The Community Companion Program</h5>
          <p>
              Loneliness and social isolation are significant issues facing many elderly and disabled individuals. To address this, the NGO launched the Community Companion Program, which paired volunteers with residents in need of companionship and support. These volunteers made regular visits, offering a listening ear, friendship, and assistance with daily tasks.

              The program also organized group outings and events, encouraging social interaction and the formation of support networks among participants. The impact of the Community Companion Program was profound, with many reporting improved mental health and a renewed sense of purpose. This initiative not only alleviated loneliness but also fostered a culture of care and empathy within the community.
              
                          </p>
          
      </div>
  </div>
  <div class="columns image" style="background-image: url('img/work/commws.png');">
      &nbsp;
  </div>
  
</div>



<div class="section-container">
  <div class="columns image" style="background-image: url('img/work/sportws.png');">
      &nbsp;
  </div>

  <div class="columns content">
      <div class="content-container">
          <h5>The Adaptive Sports League</h5>
          <p>
            Realizing the importance of physical activity for the well-being of disabled individuals, the NGO launched the Adaptive Sports League, a groundbreaking program designed to offer sports and recreational activities tailored to people with various disabilities. The league featured a wide range of sports, including wheelchair basketball, sitting volleyball, and adaptive swimming, ensuring there was something for everyone. Professional coaches and therapists were involved to provide training and support, making sports accessible and enjoyable for participants, regardless of their physical limitations. The Adaptive Sports League not only improved participants' physical health but also challenged societal perceptions of disability, highlighting the capabilities and resilience of its athletes.          </p>
         
      </div>
  </div>
  
</div>
<div class="section-container">
 

  <div class="columns content">
      <div class="content-container">
          <h5>The Inter-generational Learning Program</h5>
          <p>
            In an effort to bridge the gap between generations and combat ageism, the NGO introduced the Inter-generational Learning Program. This innovative initiative brought together the elderly, disabled, and youth to share knowledge, skills, and life experiences in a structured setting. Workshops ranged from technology and digital literacy, where young participants taught older ones how to navigate the digital world, to storytelling sessions where the elderly shared their life experiences and wisdom. This exchange of knowledge and culture not only enriched participants' lives but also strengthened community bonds and promoted social cohesion. The Inter-generational Learning Program demonstrated the value of each individual's contributions, regardless of age or ability, creating a more inclusive and united community.
              
                                   </p>
          
      </div>
  </div>

  <div class="columns image" style="background-image: url('img/work/intws.png');">
      &nbsp;
  </div>
  
</div>

</section>
      <div class="banner" style="background-image: url('img/work/ba.png'); width:100% ; height: 200px; background-size: cover; background-position: center;"></div>

<h2 style="text-align: center;padding-top: 40px; background-color:#fff; font-family: 'E A Garamond'; font-weight: normal;">Our Impact</h2>
          <div class="focus-area" style="background-color:#fff;">
              <ul>
              <li data-aos="fade-right" data-aos-easing="linear" data-aos-duration="300" data-aos-delay="300" class="aos-init aos-animate"><!--a href="https://www.careindia.org/our-work/health/"--><br>
              </a>
              <div class="focus-thum">
              <p style="padding-left: 100px;"><img class="img-fluid" src="img/work/hfp.png" style="opacity: 0.8;"></p>
              <div class="focus-content">
              <h3 style="padding-left: 122px;">HEALTH</h3>
              </div>
              <div class="widget-title">
              <div class="pre_text">
              <h4>Health has reached 103.7 million people </h4>
              </div>
                <hr style="color:brown">
              <p style="text-align: justify; padding: 3px;font-weight:normal;color:black; font-size: 20px;" >Providing essential healthcare services, addressing medical emergencies and enhancing the overall well-being of disabled and elderly individuals, ensuring access to quality healthcare.</p>
              </div>
              </div>
              </li>
              <li data-aos="fade-left" data-aos-easing="linear" data-aos-duration="300" data-aos-delay="500" class="aos-init aos-animate"><!--a href="https://www.careindia.org/our-work/education/"--><br>
              </a>
              <div class="focus-thum">
              <p style="padding-left: 101px;"><img  class="img-fluid" src="img/work/edunewf.png"></p>
              <div class="focus-content">
              <h3 style="padding-left: 122px;">EDUCATION</h3>
              </div>
              <div class="widget-title">
              <div class="pre_text">
              <h4>Education 0.32 million people reached</h4>
              </div>
                <hr style="color:brown">

              <p style="text-align: justify; padding: 3px;   font-size: 20px; font-weight:normal;color:black;"> Empowers disabled and elderly individuals by imparting crucial education, fostering 21st-century skills like innovation and problem-solving, and promoting lifelong learning for continued personal development.</p>
              </div>
              </div>
              </li>
                <p></p>
              <li data-aos="fade-right" data-aos-easing="linear" data-aos-duration="300" data-aos-delay="750" class="aos-init aos-animate"><!--a href="https://www.careindia.org/our-work/livelihood/"--><br>
              </a>
              <div class="focus-thum">
              <p style="padding-left: 100px;"><img class="img-fluid" src="img/work/livelif.png"></p>
              <div class="focus-content">
              <h3 style="padding-left: 122px;">LIVELIHOOD</h3>
              </div>
              <div class="widget-title">
              <div class="pre_text">
              <h4>Livelihood 0.88 million people reached</h4>
              </div>
                <hr>
              <p style="text-align: justify; padding: 3px; font-size: 20px; font-weight:normal;color:black;">Supporting disabled and elderly individuals by promoting opportunities, cultivating a professional and entrepreneurial spirit, and empowering marginalized women and girls through skill development and economic inclusion.</p>
              </div>
              </div>
              </li>
              <li data-aos="fade-left" data-aos-easing="linear" data-aos-duration="300" data-aos-delay="1000" class="aos-init aos-animate"><!--a href="https://www.careindia.org/our-work/disaster-relief/"--><br>
              </a>
              <div class="focus-thum">
              <p style="padding-left: 100px;"><img class="img-fluid" src="img/work/disrelieff.png"></p>
              <div class="focus-content">
              <h3 style="padding-left: 99px;padding-top: 0px;">DISASTER RELIEF</h3>
              </div>
              <div class="widget-title">
              <div class="pre_text">
              <h4>Disaster Relief 13 million people reached</h4>
              </div>
                <hr style="color:brown">

              <p style="text-align: justify; font-size: 20px; padding: 3px; font-weight:normal;color:black;" >Hands Of Hope swiftly responds to disasters, delivering vital aid like food, water, and shelter to affected communities. Our dedicated team collaborates with partners, ensuring a coordinated and effective relief effort.</p>
              </div>
              </div>
              </li>
              </ul>
              </div>
    </section>



<section class="owl" style="background-color:#fff; background-image: url('img/work/ba.png'); background-size:1600px; background-repeat: no-repeat; ">
  <h2 style="text-align: center;padding-top: 40px; ">Their Stories</h2>

  <div class="owl-carousel owl-theme">
    <div class="item">
      <img class="circle" src="img/work/oldp1f-removebg-preview (1).png" style="width:50%; height: 400px; float:left; padding: 20px;">
      <p class="right" >
        <h3>Gopal Shankar, 80 years old:</h3>
        <div style="width: 68%; padding-left: 25%;align-items: justify;">
          <span style="font-weight: bold;line-height: 1.5em;"> "This NGO has been a true sanctuary for me in my twilight years. The volunteers here treat us with such warmth and respect, it feels like being surrounded by family. From traditional music sessions to cultural festivals, they keep our spirits high. I'm deeply grateful for their unwavering support and care."</span>
        </div>
       
      </p>
    </div>
    <div class="item">
      <img class="circle" src="img/work/oldw1f-removebg-preview.png" style="width:50%; height: 400px; float:left; padding: 20px;">
      <p class="right">
    <h3>Rekha Kapoor, 35 years old, visually impaired: </h3>
    <div style="width: 68%; padding-left: 25%;align-items: justify;">
      <span style="font-weight: bold;line-height: 1.5em;">"As someone with visual impairment, finding acceptance can be a challenge, but this NGO has embraced me with open arms. They provide me with the tools and assistance I need to navigate the world confidently. Whether it's Braille materials or mobility training, they ensure I have everything necessary to live with dignity. I'm truly thankful for their inclusive approach."</span>
    </div>

    </div>
    <div class="item">
      <img class="circle" src="img/work/oldp2f-removebg-preview.png" style="width:50%; height: 400px; float:left; padding: 20px;">
      <p class="right">
      <h3>Harish Chandra, 75 years old, wheelchair user: </h3>
      <div style="width: 68%; padding-left: 25%;align-items: justify;">
        <span style="font-weight: bold;line-height: 1.5em;">"Accessibility is a major concern for me as a wheelchair user, but this NGO has surpassed my expectations. They've made every corner of the facility wheelchair-friendly, allowing me to move around independently. Beyond physical access, they treat me with respect and kindness, fostering a sense of belonging that I deeply appreciate."</span>
      </div>
    </div>
    <div class="item">
      <img class="circle" src="img/work/oldw4-removebg-preview.png" style="width:50%; height: 400px; float:left; padding: 20px;">
      <p class="right">
      <h3>Saraswati Bai, 30 years old:  </h3>
      <div style="width: 68%; padding-left: 25%;align-items: justify;">
        <span style="font-weight: bold;line-height: 1.5em;">"After my stroke, I felt like my world had turned upside down, but this NGO helped me find my footing again. Their rehabilitation programs are tailored to my needs, pushing me to regain my strength and independence. The therapists here are like angels, guiding me through every step of my recovery journey. I'm forever indebted to their care and support."</span>
      </div>
    </div>

</div>
 </section> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
              $('.owl-carousel:last').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    dots:true,
    autoplay:true,
    autoplayTimeout:2000,
    autoplayHoverPause:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})
        </script>
     </section>



  <!--Newsletter-->
  <%- include("./partials/newsletter.ejs") %>
    <!--footer-->
    <%- include("./partials/footer.ejs") %>



    
    <script type="module" src="script.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
   <script>
       AOS.init();
   </script>
      </body>

</html>